:root {
  --primary-color: #BB9B68;
  --secondary-color: #d3c7aa;
  --base-color-1: #111111;
  --base-color-2: #0a0a0c;
  --shadow-color: #bb9b6833;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--base-color-1);
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Cor de fundo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Oculto por padrão */
  z-index: 1000;
}

/* ==================================== header ==================================== */

.header, .footer {
  background-color: var(--base-color-2);
}
 
.navbar-brand:focus, 
.nav .nav-link, 
.navbar-toggler:focus,
.navbar-toggler:hover {
  background-color: transparent;
  color: var(--secondary-color);
  box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover, 
.nav .nav-link:hover {
  color: var(--primary-color);
  box-shadow: none;
}

.navbar-brand:active h1,
.navbar-toggler:active {
  color: var(--primary-color);
  box-shadow: none;
  scale: 0.97;
}

.nav .nav-link.active {
  background-color: transparent;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0;
}

.navbar-toggler {
  font-size: 2rem;
  color: var(--primary-color);
}

/* ==================================== main ==================================== */

.carousel .img {
  max-height: 600px;
  object-fit: cover;
  object-position: center;
}

main section:nth-of-type(even) {
  background: var(--base-color-2);
}

/* about section */

h1, h2 {
  color: var(--primary-color);
}

.btn {
  background: var(--base-color-1);
  border-width: 2px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn:hover {
  background: var(--primary-color);
  color: var(--base-color-1);
  border-color: var(--primary-color);
}

.btn:active {
  scale: 0.96;
  background: var(--primary-color) !important;
  color: var(--base-color-1) !important;
  border-color: var(--primary-color) !important;
}

.cover {
  width: 100%;
  height: 100%;
  min-height: 450px;
  background: url('../images/cover.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* actives section */

.card {
  background-color: var(--base-color-2);
  cursor: default;
  box-shadow: 0 0 12px var(--shadow-color);
  transition: all 0.2s;
}

.card:hover {
  scale: 1.02;
}

.card-title {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.card-text {
  color: var(--secondary-color);
}

.card-body .btn {
  font-size: 0.9rem;
}

.modal-content {
  background: var(--base-color-2);
}

.modal-header {
  color: var(--primary-color);
}

.modal {
  backdrop-filter: blur(2px);
}

.modal-content {
  box-shadow: 0 0 20px var(--shadow-color);
}

.modal-header {
  border-color: var(--primary-color);
}

.modal-body {
  color: var(--secondary-color);
}

/* mages section */

.card-cover .img-default {
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.card-cover .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-cover:hover .img-default {
  opacity: 0;
}

.card-cover:hover .img-hover {
  opacity: 1;
}

.badge {
  background: var(--primary-color);
  color: var(--base-color-1);
}

/* faq section */

.faq-content {
  max-width: 800px;
  margin: 0 auto;
}

.accordion-item, .accordion-collapse {
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.accordion-item:focus {
  border-color: var(--primary-color);
}

.accordion-button, .accordion-button[aria-expanded="true"] {
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

/* contact section */

.contact-form label {
  color: var(--primary-color);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.contact-form input {
  border-width: 0 0 2px 0;
  border-color: var(--primary-color);
  outline: none;
}

.contact-form select, .contact-form textarea {
  background: var(--base-color-1);
  color: var(--secondary-color);
  border-width: 2px;
  border-color: var(--primary-color);
  outline: none;
}

.contact-form input:focus, .contact-form select:focus {
  box-shadow: 0 0 0 2px var(--primary-color);
  background: var(--base-color-1);
}

input, input::placeholder, textarea::placeholder {
  color: var(--secondary-color) !important;
}

/* ==================================== footer ==================================== */

.footer, .footer a {
  color: var(--secondary-color);
}

.footer a:hover {
  color: var(--primary-color);
  scale: 1.05;
}
